.footer {
  padding-bottom: 64px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  color: $grey;

  @include mq(1150) {
    flex-direction: column;
  }
}

.footer__info {
  max-width: 400px;
  width: 100%;
  margin-right: 24px;

  @include mq(1150) {
    margin-right: 0;
    margin-bottom: 48px;
  }
}

.footer__info-logo-box {
  margin-bottom: 24px;

  img {
    width: 130px;
  }
}

.footer__info-text {
  margin-bottom: 32px;
}

.footer__info-link {
  display: flex;
  align-items: center;
  color: $grey;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  svg {
    width: 30px;
    height: 30px;
    margin-right: 16px;
  }

  p {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 0;
      height: 2px;
      background-color: $grey;
      transition: width 0.3s ease-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.footer__items-container {
  display: flex;
  justify-content: space-between;

  @include mq(480) {
    flex-direction: column;
  }
}

.footer__items {
  &:not(:last-child) {
    margin-right: 150px;

    @include mq(1240) {
      margin-right: 100px;
    }

    @include mq(570) {
      margin-right: 48px;
    }
    @include mq(570) {
      margin-right: 0;
      margin-bottom: 48px;
    }
  }
}

.footer__items-title {
  @extend .lato-28-normal;
  color: $black;
  margin-bottom: 32px;
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.footer__item-link {
  color: $grey;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 2px;
    background-color: $grey;
    transition: width 0.3s ease-out;
  }

  &:hover::after {
    width: 100%;
  }
}

@include mq(1921, min) {
  .footer {
    padding-bottom: 3.33333vw;
  }
  .footer__info {
    max-width: 20.83333vw;
    margin-right: 1.25vw;
  }
  .footer__info-logo-box {
    margin-bottom: 1.25vw;
    img {
      width: 6.77083vw;
    }
  }
  .footer__info-text {
    margin-bottom: 1.66667vw;
  }
  .footer__info-link {
    &:not(:last-child) {
      margin-bottom: 1.25vw;
    }
    svg {
      width: 1.5625vw;
      height: 1.5625vw;
      margin-right: 0.83333vw;
    }
    p {
      &::after {
        height: 0.10417vw;
      }
    }
  }
  .footer__items {
    &:not(:last-child) {
      margin-right: 7.8125vw;
    }
  }
  .footer__items-title {
    margin-bottom: 1.66667vw;
  }
  .footer__item {
    &:not(:last-child) {
      margin-bottom: 1.25vw;
    }
  }
  .footer__item-link {
    &::after {
      height: 0.10417vw;
    }
  }
}
