.wrapper {
  max-width: 1640px;
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;

  @include mq(1440) {
    padding: 0 64px;
  }

  @include mq(1240) {
    padding: 0 48px;
  }

  @include mq(991) {
    padding: 0 32px;
  }
}

.logo-box {
  max-width: 130px;
  width: 100%;
}

.btn {
  @extend .lato-24-normal;
  display: inline-block;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding: 20px;
  background-color: transparent;
  color: transparent;
  border: 2px solid transparent;

  // @include hover {
  //   background-color: $orange;
  //   color: $pink;
  // }
}

.btn--full {
  padding: 12px 24px;
  background-color: $orange;
  color: $pink;
  border: 2px solid $orange;
  transition: background-color 0.3s, color 0.3s, border 0.3s;

  @include hover {
    background-color: $pink;
    color: $orange;
    border: 2px solid $orange;
  }
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-48 {
  margin-bottom: 48px;
}

@include mq(1921, min) {
  .wrapper {
    max-width: 85.41667vw;
    padding: 0 5.20833vw;
  }
  .logo-box {
    max-width: 6.77083vw;
  }
  .btn {
    padding: 1.04167vw;
    border: 0.10417vw solid transparent;
  }
  .btn--full {
    padding: 0.625vw 1.25vw;
    border: 0.10417vw solid $orange;
  }
  .mb-16 {
    margin-bottom: 0.83333vw;
  }
  .mb-48 {
    margin-bottom: 2.5vw;
  }
}
