html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  @extend .lato-24-normal;
  background-color: $pink;
  color: $black;

  &.fixed {
    overflow-y: hidden;
  }
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:active {
  outline: none;
}

b,
strong {
  font-weight: bold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

nav ul,
nav ol,
ul,
li {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

button,
input,
select,
textarea {
  vertical-align: middle;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input,
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input,
textarea,
select {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
